@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Source+Sans+Pro:wght@300&display=swap');


$primary-color: white;
$bg: cadetblue;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.full-height {
  height: 100vh;
}

.sidebar {
  background: $bg;
  padding: 1em;
}
